body {
    background-color: #000000;
    color :rgb(255, 255, 255);

}

#grille
{
    background-color: rgb(0, 119, 199);
    color :rgb(255, 255, 255);
    font-family: "Roboto Medium", Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-left: 346px;
    margin-right: 346px;
    min-height: 228px;
    text-align: center;
}

#grille table
{
    border-spacing: 0px 0px;
}

#grille td
{
    border: 1px solid rgb(255, 255, 255);
    height: 32px;
    width: 32px;
    position: relative;
    z-index: 0;
}
